!!! 5
%html{:lang => "en"}
  %head
    %title= part[:page_title] +" - "+ orange[:sparkles].site_name(packet, orange.options[:site_name])
    %meta{:charset => "utf-8"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    - orange[:sparkles].stylesheets.each{|css| add_css("#{css}.css") }
    - orange[:sparkles].javascripts.each{|js| add_js("#{js}.js") }
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    = part[:css]
    = part[:js]
  %body#home
    .container
      %o:slice{:mode => "header"}
      .body
        .content-container
          - if((part[:sidebar]).blank?)
            %section.fullwidth.content= yield
          - else  
            %section.sidebar= part[:sidebar]
            %section.narrow.content= yield
            %br.clearfix
        %o:slice{:mode => "footer"}
        %o:slice{:mode => "administrivia"}